.frame {
  margin: 20px;
  width: 500px;
  height: 300px;
  border: 1px solid #ccc;
  overflow: auto;
  position: relative;
}

.window {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 10px;
}

.window:first-child {
  left: 0;
  width: 45%;
}
.window:nth-child(2) {
  left: 50%;
  width: 45%;
}

.window.active {
    border: 1px solid blue;
    font-weight: bold;
}

.emacs-frame {
  margin: 20px;
  width: 500px;
  height: 300px;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative;
}

.emacs-window {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* overflow: auto; */
  padding: 10px;
}
